<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nous contacter</title>
    <link rel="stylesheet" href="./../Style/styleAuthentification.css">
</head>
<body>
    <div class="login-container">
        <h1>Nous contacter</h1>

        <p>Pour toute questions vous pouvez contacter le service technique aux adresses suivantes :</p>


        <p>gaetan.gonfiantini@etu.umontpellier.fr</p>
        <p>jocelin.sanchez@etu.umontpellier.fr</p>

       <a href="../../index.html">Retour au portail de connexion</a>
    </div>

</body>
</html>