<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nous contacter</title>
    <link rel="stylesheet" href="../style/styleAuthentification.css">
</head>
<body>
<div class="login-container">
    <h1>Nous contacter</h1>

    <p>Pour toutes questions, vous pouvez contacter le service technique aux adresses suivantes :</p>

    <p>gaetan.gonfiantini@etu.umontpellier.fr</p>
    <p>jocelin.sanchez@etu.umontpellier.fr</p>

    <!-- Ajout de l'information sur la chatbox -->
    <p><strong>De plus, pour un contact direct et rapide, n'hésitez pas à utiliser notre chatbox disponible en bas à droite de cette page. Notre équipe est prête à répondre à vos questions en temps réel.</strong></p>

    <a href="../../index.html">Retour au portail de connexion</a>
</div>

<!-- Assurez-vous que le script Crisp est bien inclus si ce n'est pas déjà le cas -->
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="3807f17e-196e-444d-8132-0d1c4c898efd";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>
</html>
