<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profil de l'Utilisateur</title>
    <script src="https://cdn.jsdelivr.net/npm/keycloak-js"></script>
    <link rel="stylesheet" href="../style/styleBarreNavigation.css">
    <link rel="stylesheet" href="../style/stylePagesPersonnelUtilisateur.css">
    <script src="./../../serverConfig.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/keycloak-js"></script>
    <script src="../../model/keycloak/keycloak-config.js"></script>
    <script src="../../model/keycloak/methode_Keycloak.js"></script>
</head>
<body>
<nav class="navbar">

    <div id="gaucheNavBarre">
        <div id="imgAndCATS"><img src="../images/patte-de-chat-blanche.png" alt="Logo du projet Miaou" class="logo"><a id="nomProjet">CATS </a></div>
    </div>
    <div id="millieuNavBarre">
        <a href="espacePersonnelUtilisateur.html" class="nav-link">Talbeau de bord</a>
        <a href="informationsUtilisateur.html" class="nav-link">Mes informations</a>
        <a href="securite.html" class="nav-link">Sécurité</a>
        <a href="apropos.php" class="nav-link">À propos</a>
    </div>
    <div id="droiteNavBarre">
            <button id="logout">Se Déconnecter</button>
    </div>
</nav>
<div id="contenuePage">
    <div class="container">
        <h1 id="welcomeMessage"></h1>
        <p>Bienvenue sur votre espace CATS. Utilisez les liens ci-dessous pour naviguer vers les différents services.</p>
    </div>

    <div class="container">
        <h1>Vos services</h1>
        <div id="lesServicesUtilisateur">
            <div class="serviceDiv">
                <a target="_blank" id="linkNextCloud"><img src="../images/nextCloud.png" alt="Logo du service">
                <p>NextCloud</p></a>
            </div>

            <div class="serviceDiv">
                <a target="_blank" id="linkRocketChat"><img src="../images/rocketchat.png" alt="Logo du service">
                <p>RocketChat</p></a>
            </div>
        </div>

        <div id="divAdminKeycloak" style="display: none">
            <a target="_blank" id="linkAdminKeycloak">
                <img src="../images/keycloak.png" alt="Logo du service">
                <p>Console admin Keycloak</p>
            </a>
        </div>
        <!--
        Faire en sorte de récupérer les groupes des utilisateurs pour afficher les liens vers les services correspondants
        Lien pour la console admin keycloak pour ceux qui ont le rôle "realm-adminstrator"
        http://localhost:8080/admin/CATS/console/#/CATS
        -->
    </div>
</div>
<script src="../../model/keycloak/scriptsParPage/script_espacePersonnelUtilisateur.js"></script>
</body>
</html>
