body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

#titrePlusImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#titreMiaou {
    font-weight: bold;
    color: #2c3e50;
    display: flex;
    align-items: center; /* Assurer l'alignement vertical avec l'image */
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 10px; /* Espacement entre le texte et l'image */
}



p {
    color: #666;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button:last-child {
    margin-right: 0;
}

.button-group button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#infoPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 80vw;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    line-height: 1.5;
}

#infoPopup h2 {
    margin-bottom: 20px;
    text-align: center;
}

#infoPopup p {
    margin-bottom: 20px;
}

#infoPopup button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto 0;
}

#infoPopup button:hover {
    background-color: #0056b3;
}
